html {
    scroll-behavior: smooth;
}



body {
    min-width: 1200px;
    font-family:  Pixel-Cyr,  sans-serif;
    line-height: 24px;
    color: #000;
    padding: 0;
    margin: 0;
}

.wrapper {
    position : absolute;
    display : grid;
    justify-items : center;
    align-items: center;
    height: 100%;
    border: 5px solid blue;
}

.Authorization {
    border: 5px solid red;
}
